<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- EmpMapper 인터페이스와 매핑 -->
<mapper namespace="com.yedam.java.emp.mapper.EmpMapper">
	<!-- id : 메서드 이름 -->
	<!-- public EmpVO getEmpVO(EmpVO empvo); -->
	<select id="getEmp" parameterType="EmpVO" resultType="EmpVO">
		select employee_id, 
			   first_name, 
			   last_name,
			   email,
			   hire_date,
			   job_id,
			   department_id,
			   salary
		from employees
		where employee_id = #{employeeId}
	</select>
	
</mapper>

